# Compiled output
/backend/dist
/frontend/dist
/backend/node_modules
/frontend/node_modules
/backend/build
/frontend/build
node_modules/
dist/
build/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Tests
/backend/coverage
/frontend/coverage
/.nyc_output
/backend/.nyc_output
/frontend/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Angular specific
/frontend/.angular/
/frontend/tmp/
/frontend/out-tsc/
/frontend/bazel-out/

# Angular e2e
/frontend/e2e/*.js
/frontend/e2e/*.map

# NestJS specific
/backend/.env
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local
/backend/.env.local

# dotenv environment variable files (global)
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Dependency directories
**/node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/
*.lcov

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# lock files (keep only one type per project)
package-lock.json
yarn.lock
pnpm-lock.yaml

# System Files
.DS_Store
Thumbs.db

# Angular CLI
.angular/

#Documentos
README2.md
Diario.docx
