# Ignorar a pasta de projeto exemplo do NestJS
/nestExample

# Ignorar node_modules em qualquer lugar
node_modules/

# Ignorar arquivos .env em qualquer lugar
*.env

# Ignorar pastas de build
dist/
build/

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db